
@use 'variables' as *;
@use 'mixins' as *;



body{
  margin:0;
  padding:0;
  overflow-x:hidden;
  background-color: beige;
}

main {
  padding: 20px;
  font-family: $font-primary;
  font-size: 20px;
  background-color: $color-bg-main;
  text-orientation: sideways;

  li {
  
    list-style: disc;
  }
 img{
    display: block;
    margin-right: 40vw;
    transition: width 0.5s, height 0.5s;
 }
  

  .txt-choto {
    margin-right: 500px ;
    margin-left: 20px;
  }


.img-fluid {
   width: 40vw;
     height: 47vh;
     display: block;
     margin: 10px;
     transition: width 1s, height 1s;
     margin-left: auto;
     margin-right: 40%;


    &:hover {
      width: 50vw;
      height: 57vh;
    }

  &:active {
    transform: scale(1.05);
  }
}
.gallery {
 @include center-block;
 .producto-tienda {
   @include flex-center;
 }
}

.producto-tienda{
  border: 2px solid black;
  border-radius: 25px;
  align-items: center;
}
.img-tienda, .img-galeria {
  width: 20vw;
  height: 20vh;
  margin: 10px;

}
}
