// Archivo contacto de SASS //
@use 'variables' as *;
@use 'mixins' as *;


.contacto-pag{

 main{
    div{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 200px;
        font-family: $font-primary;
        font-size: 23px;
        color: $color-text-main;
        section{
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .enviar {
            background-color: transparent;
            color: black;
            &:hover {
                background-color: mediumblue;
                color: red;
            }
        }

        .reiniciar {
            background-color: transparent;
            color:black;
            &:hover {
                background-color: red;
                color: mediumblue;

            }
        }
 }
 }
}