
@use 'variables' as *;
@use 'mixins' as *;





footer {
  background-color: beige; 
  color: black;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  margin: 50px 0 50px 20px; 
  box-shadow: 0 -2px 6px rgba(0,0,0,0.1);
 margin-right: 20%;
  display: flex;                 
  justify-content: space-between;
  align-items: center;           
  padding-right: 280px;          


 h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
}