
@use 'variables' as *;
@use 'mixins' as *;





footer {
  background-color: beige;
  padding: 20px;
  margin-right: 20%;
  list-style: none;
  display: flex;
  flex-direction: row;
  p{
    margin-top: 30px;
    margin-left: 5px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
  }
  ul{
    margin-left: 210px;
   
  }
  .img-whatsapp{
    position: fixed;
    bottom: 20px;
    width: 80px;
    height: auto;
    right: 50px; 

  }
     

 h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
}