// Archivo galeria de SASS //
@use 'variables' as *;
@use 'mixins' as *;


.galeria-pag{
main{
    .img-galeria {
      width: 20vw;
      height: 30vh;
      margin: 10px;
      @include transition(width);

      
}
}
}
      