@use 'variables' as *;
@use 'mixins' as *;

header {
  
  height: 100px;
  display: flex;
  justify-content: center; 
  align-items: center;     
  margin-right: 250px;  


  h1 {
    color: black;
    font-family: $font-title;
    font-size: 24px;
    font-weight: 700;
  }
}

