@use 'variables' as *;
@use 'mixins' as *;

header {
  background-color: $color-bg-header;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 250px;
  border-color: $color-bg-header;

  h1 {
    color: black;
    font-family: $font-title;
    font-size: 24px;
    font-weight: 700;
  }
}


@media (max-width: 768px) {

  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    background: #1f232a;
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    box-shadow: 0 2px 10px rgba(0,0,0,0.25);
  }

  .sidebar ul {
     margin: 0;
     padding: 0;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 15px;
  }

  .sidebar li {
     list-style: none;
  }

  .sidebar a {
     color: white;
     font-size: 20px;
     text-decoration: none;
  }

 
  main {
    margin-left: 0 !important;
    padding-top: 150px; 
  }
}
