@mixin transition($props, $time: 0.5s, $ease: ease) {
  transition: $props $time $ease;
}

@mixin center-block {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  margin-left: 0%;
  margin-right: 20%;


}
@mixin flex-center {
  display: flex;
  flex-direction: column; 
  gap: 10px;
}
 @mixin gallery-and-shop-cards {
    padding: 10px;
    border: 2px solid whitesmoke;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
 }