
@use 'variables' as *;
@use 'mixins' as *;

.nosotros-pag{
  main{
    background-color: transparent;
    .img-nos {
     height: 47vh;
     margin: 10px;
     margin-right: 40%;
    &:active {
        transform: scale(0.95);
    }
    }
  }
}
