@use 'variables' as *;
@use 'mixins' as *;


@media (max-width: 1024px) {

  /* ---------------------- HEADER ---------------------- */
  header {
    margin-right: 0;
    margin-top: 120px;
    h1 {
      font-size: 20px;
      text-align: center;
      
    }
  }

  /* ---------------------- SIDEBAR -> NAV HORIZONTAL ---------------------- */
nav {
  flex-direction: row;
  width: 100%;
  height: 120px;
  padding: 8px 12px;
  
  .logo {
    width: 50px;
    height: 50px;
  }

  ul {
    gap: 10px;
    li {
      list-style: none;

      a {
        font-size: 14px;
        padding: 4px 6px;
        white-space: nowrap;
      }
    }
  }
}

  /* ---------------------- MAIN ---------------------- */
  main {
    font-size: 16px;
    img {
      margin-right: auto;
    }

    .img-fluid {
      width: 90vw;
      height: auto;
      margin: 10px auto;

      &:hover {
        width: 95vw;
        height: auto;
      }
    }

    .txt {
      margin-right: 0;
      margin-left: 0;
    }

    .gallery-tienda-elements {
      grid-template-columns: 1fr;
      margin-right: 0;

      .producto-tienda {
        flex-direction: column;
      }
    

    .img-galeria {
      width: 70vw;

      &:hover {
        width: 80vw;
      }
    }
   }
}
  /* ---------------------- TIENDA ---------------------- */
  .tienda-pag{
      .tienda-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  main{
    .menu-completo{
     margin-left: 0;
     width: 90%;
    }
    .txt{
      margin-right: 0;
    }
  .tienda-item {
    .img-tienda {
      max-width: 150px;
    }

    .precio {
      font-size: 16px;
    }
  }
  }
  }
  /* ---------------------- GALERIA ---------------------- */
  .galeria-pag{
  main{ 
    .img-galeria {
      width: 70vw;
      height: auto;
    }
    .video-youtube {
      width: auto;
      height: auto;
    }
  }
  }

 /* ---------------------- NOSOTROS ---------------------- */
  .nosotros-pag{
  main{
    .img-nos {
      width: 90vw;
      height: auto;
      margin: 10px auto;
    }
  }
  }





 /* ---------------------- CONTACTO ---------------------- */
  .contacto-pag{
  main{
    margin-right: 0;
    margin-left: 0;
    .txt{
      margin-right: 0;
      margin-left: 0;
    }
    .form{
      width: 90%;
      margin-left: 1px;
      margin-right: auto;
    }
  }
  }

  /* ---------------------- FOOTER ---------------------- */
  footer {
    margin:0;
    flex-direction: column;
    text-align: center;
    padding-right: 0;

    h2 {
      font-size: 16px;
    }
    ul {
      list-style: none;
      margin-left: 0;
      margin-top: 10px;
    }
  }
}
