// En _responsive.scss o al final de _main.scss

@media (max-width: 768px) {
  // Header
  header {
    margin-right: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }

  // Main
  main {
    margin-right: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  // Barra lateral nav
  nav {
    position: relative;  // ya no fijo
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: none;
    margin-bottom: 20px;

    ul {
      flex-direction: row;
      justify-content: space-around;
      padding: 0;
      margin: 0;
      width: 100%;

      li {
        margin: 0;
        padding: 0;

        a {
          padding: 10px 5px;
        }
      }
    }

    .logo {
      width: 80px;
      height: 80px;
      margin: 0 auto 10px auto;
    }
  }

  // Footer
  footer {
    padding-right: 20px;
    flex-direction: column;
    text-align: center;
  }
}
