// En _responsive.scss o al final de _main.scss
@media (max-width: 768px) {
  // Header
  header {
    margin-right: 0;
    height: auto;
    padding: 10px;
    text-align: center;
  }

  // Main
  main {
    margin-right: 0;
    padding: 10px;
    font-size: 18px;
  }

  //Footer
    footer {
        flex-direction: column;
        align-items: center;
        padding-right: 20px;
        text-align: center;
    
        h2 {
        margin-bottom: 10px;
        }
    }

  // Barra lateral / nav
  nav {
    width: 100%;
    min-height: auto;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: none;

    ul {
      flex-direction: row;
      padding: 0;
      margin: 0;
      width: 100%;

      li {
        margin: 0 5px;
        padding: 0;

        a {
          padding: 10px 5px;
        }
      }
    }

    .logo {
      width: 100px;
      height: 100px;
      margin: 0 auto 10px auto;
    }
  }
}

