/* Estilos para la barra lateral de navegación */
@use 'variables' as *;
@use 'mixins' as *;

nav {
  position: fixed;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  padding: 20px;
  background: $color-sidebar-bg;
  display: flex;
  flex-direction: column;

  .logo {
    width: 150px;
    height: 150px;
    margin: 20px auto 10px auto;
    border-radius: 40%;
    object-fit: cover;
    transition: width .5s, height .5s;

    &:hover {
      width: 160px;
      height: 160px;
    }
  }

  ul {
    width: 100%;
    height: auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    li a {
      padding: 12px;
      font-size: 18px;
      color: $color-text-nav;
      display: block;
    }

    li:hover {
      background: $color-nav-hover;
    }
  }
}




