

@use 'variables' as *;
@use 'mixins' as *;





.tienda-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  padding: 20px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr; 
  }
}

.tienda-item {
  text-align: center;

  .img-tienda {
    width: 100%;
    max-width: 200px;
    height: auto;
    @include center-block;
    @include transition(width);

    &:hover {
      width: 110%;
    }
  }

  .precio {
    margin-top: 10px;
    font-family: $font-primary;
    font-size: 18px;
    font-weight: 500;
    color: $color-text-main;
  }
}
