

@use 'variables' as *;
@use 'mixins' as *;



.tienda-pag{
.tienda-item {
  text-align: center;
   
  .producto-tienda {
    @include gallery-and-shop-cards;
    flex-direction: column;
    margin: 15px;
  }  
  
  .img-tienda {
    width: 20vw;
    height: 30vh;
    @include transition(width);
    
    &:hover {
      width: 25vw;
    }
  }
  .nombre-producto {
    margin-top: 10px;
    font-family: $font-primary;
    font-size: 20px;
    font-weight: 600;
    color: $color-text-main;
  }

  .precio {
    margin-top: 10px;
    font-family: $font-primary;
    font-size: 18px;
    font-weight: 500;
    color: $color-text-main;
    align-items: center;
  }
}
}
