

@use 'variables' as *;
@use 'mixins' as *;



.tienda-pag{
 main{
  background-color: transparent;
  .txt{
    margin-right: 20%;
    font-family: $font-tienda;
    font-size: 24px;
    margin: 0;
  }
  .menu-completo{
   margin-left: 20%;
   width: 600px;
   padding: 12px 18px;
   border-radius: 8px;
   /*Solo visual, no funciona realmente*/
  }
  h3.envios-tienda{
    font-family: $font-primary;
    font-size: 23px;
    color: $color-text-main;
    display: flex;
    justify-content: center;
    margin-right: 20%;
  }
  .pedidosya-ul{
    display: flex;
    border: 2px solid black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-right: 20%;
    background-color: #fff;
  li{
    list-style: none;
    margin: 0px;
  }
  .img-pedido-ya {
    width: 100px;
    height: auto;
    margin-right: 0px;
    animation: giro 2.5s linear infinite;
  }
  @keyframes giro {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
}

.gallery-tienda-elements {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center;
    padding: 20px;



.producto-tienda {
    display: flex;
    flex-direction: column; /* Imagen arriba, textos abajo */
    align-items: center;
    width: 200px;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);



.img-tienda {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}


.nombre-producto {
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: center;
}


.precio {
    margin-top: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    color: #6a3e2e;
}
}
}
}
