

@use 'variables' as *;
@use 'mixins' as *;



.tienda-pag{
 main{
  .txt{
    margin-right: 20%;
    font-family: $font-tienda;
    font-size: 24px;
    margin: 0;
  }
  .menu-completo{
   margin-left: 20%;
   width: 600px;
   padding: 12px 18px;
   border-radius: 8px;
   /*Solo visual, no funciona realmente*/
  }
  div{
    margin-top: 100px;
    margin-bottom: 100px;
  }
  h3.envios-tienda{
    font-family: $font-primary;
    font-size: 23px;
    color: $color-text-main;
    display: flex;
    justify-content: center;
    margin-right: 20%;
  }
  .pedidosya-ul{
    display: flex;
    border: 2px solid black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-right: 20%;
  
  li{
    list-style: none;
    margin: 0px;
  }
  .img-pedido-ya {
    width: 100px;
    height: auto;
    margin-right: 0px;
    animation: giro 2.5s linear infinite;
  }
  @keyframes giro {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
}
.tienda-item {
  text-align: center;
   
  .producto-tienda {
    @include gallery-and-shop-cards;
    flex-direction: column;
    margin: 15px;
  }  
  
  .img-tienda {
    width: 20vw;
    height: 30vh;
    @include transition(width);
    
    &:hover {
      width: 25vw;
    }
  }
  .nombre-producto {
    margin-top: 10px;
    font-family: $font-primary;
    font-size: 20px;
    font-weight: 600;
    color: $color-text-main;
  }

  .precio {
    margin-top: 10px;
    font-family: $font-primary;
    font-size: 18px;
    font-weight: 500;
    color: $color-text-main;
    align-items: center;
  }
}
}
