// Archivo Principal de SASS //
// sass --watch sass/style.scss-styles/style.css //
@import 'header';
@import 'home';
@import 'galeria';
@import 'contacto';
@import 'footer';
@import 'contacto';
@import 'galeria';
@import 'nosotros';

